body{
	font-size: 16px;
}

		/*HEADER*/
		#header-nav{
			background-color: #7952b3;
			border-radius: 0;
			border: 1px solid black;
		}
		.navbar-brand{
			padding-bottom: 60px;
		}
		.navbar-brand h1{
			margin-top: 0;
			margin-bottom: 0;
			font-weight: bold;
			color: white;
		}
		.text-center{
			margin-top: 20px;
			font-size: 40px;
		}
		.container-fluid{
			background-color: #999;
			margin-right: 10px;
			margin-left: 10px;
		}
		#section-heading{
			color: black;
			margin-top: 10px;
			font-size: 30px;
			text-align: center;
		}
		#section-content{
			color: black;
			font-size: 18px;
		}
		#nav-list a{
			color: white;
			text-align: center;
		}
		#nav-list a:hover{
			background-color: grey;
		}
		.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
			border: 1px solid black;
		}